/__pycache__/
apikey.txt
savedir.txt
/.vscode/
*.png
*.jpg
*.gif
/nonebot/__pycache__/
/nonebot/plugins/__pycache__/
*.bak
/nonebot/config.py
/nonebot/setubot_config.json
/nonebot/setuhdisabled
nul
config.json
